{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <h1 class="display-6 text-center">Votre panier</h1>
    {% if cart | length > 0  %}
        <table class="table mt-3 fs-5">
            <thead>
            <tr>
                <th scope="col">Article</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% set total = null %}
                {% for article in cart %}
                    <tr>
                        <th>
                            <img src="/uploads/{{article.article.image}}" alt="{{article.article.name}}" height="75px"><br/>                   
                        </th>
                        <td>
                            {{article.article.name}}</br>            
                        </td>
                        <td>
                            <a href="{{ path('decrease_from_cart', {'id' : article.article.id}) }}">
                                <img src="{{ asset('assets/icon/minus.png')}}" height="" alt="Supprimer un produit">
                            </a>
                            x {{article.quantity}}
                            <a href="{{ path('add_to_cart', {'id' : article.article.id}) }}">
                                <img src="{{ asset('assets/icon/plus.png')}}" height="" alt="Ajouter un produit">    
                            </a>
                        </td>
                        <td>{{(article.article.price/100)|number_format(2,',','.')}} €</td>
                        <td>{{((article.article.price * article.quantity)/100)|number_format(2,',','.')}} €</td>
                        <td>
                            <a href="{{ path('delete_from_cart', {'id' : article.article.id}) }}">
                            <img src="{{asset('assets/icon/trash.png')}}" alt="Supprimer mon produit" height="">
                            </a>
                        </td>
                    </tr>
                    {% set total = total + (article.article.price * article.quantity) %}
                {% endfor %}
            </tbody>
        </table>
        <div class="ms-5 my-5 fs-5">
            <b>Nombre de produit :  </b>{{cart | length}}                         </br>
            <b>Total de mon panier :</b>{{(total/100)|number_format(2,',','.')}} €</br>
            <span><a href="{{ path('order') }}" class="btn btn-secondary btn-block mt-3 fs-5">Valider mon panier</a></span>
        </div>
    {% else %}
        <hr>
        <p><b>Votre panier est vide.</b></p>
    {% endif %}
{% endblock %}
